body
{
    margin: 0;
    padding: 0;
    background: url(Rub_al_Khali_002.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.frame
{
    width: 450px;
    height: 90vh;
    background: darkorchid;
    border: 2px solid black;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
}

.element
{
    text-align: center;
    padding: 25px;
    border: 1px solid darkorchid;
    font-size: 30px;
    box-shadow: 0px 1px 10px 1px #000;
    font-weight: bold;
}

.element span
{
    color: saddlebrown;
    margin-left: 80px;
    position: absolute;

}

.level
{
    color: #ff8000;
    margin-top: 7px;
    letter-spacing: 5px;
}

.fuse
{
    width: 400px;
    height: 270px;
    margin-top: 20px;
    box-shadow: 0px 1px 10px 1px #000;
    margin-left: 22px;
    border: 3px solid gray;
    border-radius: 10px;
}

.descrp
{
    border: 5px brown solid;
    background: palevioletred;
    color: black;
    width: 400px;
    height: 200px;
    margin-left: 21px;
    box-shadow: 0px 1px 10px 1px #000;
    margin-top: 10px;
    text-align: justify;
}

.descrp span
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 25px;
    padding: 20px;
}

.descrp .pow
{
    font-size: 18px;
    margin-bottom: 2px;
}

button
{
    float: left;
}

@media(max-width: 1280px)
{
    body
    {
        background: crimson;
    }
    .frame
    {
    width: 23%;
    height: 90vh;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    }
    .element
    {
    text-align: center;
    padding: 6%;
    border: 1px solid darkorchid;
    font-size: 30px;
    box-shadow: 0px 1px 10px 1px #000;
    font-style: italic;
    }
    .element span
    {
    color: green;
    margin-left: 2%;
    position: absolute;
    }
    .level
    {
    color: palegreen;
    margin-top: 2%;
    letter-spacing: 5px;
    }
    .fuse
    {
    width: 80%;
    height: 25vh;
    margin-top: 4%;
    box-shadow: 0px 1px 10px 1px #000;
    margin-left: 6%;
    border: 3px solid gray;
    border-radius: 10px;
    }
    .descrp
    {
    border: 5px orangered solid;
    background: palevioletred;
    color: yellow;
    width: 87%;
    height: 39vh;
    margin-left: 5%;
    box-shadow: 0px 1px 10px 1px #000;
    margin-top: 5%;
    text-align: justify;
    }
    .descrp span
    {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 18px;
    padding: 0;
    }

}

@media(max-width: 828px)
{
    body 
    {
        background: blue;
    }
    .frame
    {
    width: 23%;
    height: 90vh;
    background: cornflowerblue;
    border: 2px solid black;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    }
    .element
    {
    text-align: center;
    padding: 25px;
    border: 1px solid darkorchid;
    font-size: 30px;
    box-shadow: 0px 1px 10px 1px #000;
    font-weight: bold;
    }
    .element span
    {
    color: wheat;
    margin-left: 4%;
    position: absolute;
    }
    .level
    {
    color: red;
    margin-top: 7px;
    letter-spacing: 5px;
    }
    .fuse
    {
    width: 80%;
    height: 25vh;
    margin-top: 20px;
    box-shadow: 0px 1px 10px 1px #000;
    margin-left: 9%;
    border: 3px solid gray;
    border-radius: 10px;
    }
    .descrp
    {
    border: 5px brown solid;
    background: palevioletred;
    color: #fff;
    width: 80%;
    height: 26vh;
    margin-left: 7%;
    box-shadow: 0px 1px 10px 1px #000;
    margin-top: 5%;
    text-align: justify;
    }
    
    .descrp span
    {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 11px;
    padding: 0;
    }

}

